{{# partial "node"}}
<div class="tree_node" id="{{id}}">
    <p class="tree_node_head{{#if children}} expandable{{/if}}">
        {{#if children}}
            <span class="glyphicon glyphicon-chevron-right expander"></span>
        {{else}}
            <span class="missing_icon"></span>
        {{/if}}
        {{name}}
        <span class="time_bar" title="Total time: {{total_time_percent}}% ({{total_time}} samples)&#013;Self time: {{self_time_percent}}% ({{self_time}} samples)">
            <span class="other_time" title="" style="width: {{other_time_percent_size}}%">&nbsp;</span>
            <span class="self_time" style="width: {{self_time_percent_size}}%">&nbsp;</span>
        </span>
    </p>
    {{#if children}}
        <ol>
            {{#each children}}
                <li>
                    {{#block "node"}}{{/block}}
                </li>
            {{/each}}
        </ol>
    {{/if}}
</div>
{{/partial}}

{{#with tree}}{{#block "node"}}{{/block}}{{/with}}
