{{# partial "head"}}
<style type="text/css">
ol {
    list-style-type: none;
    padding-left: 1em;
    padding-bottom: 0.5em;
}
ol li:nth-child(odd) {
    background-color: #fff;
}
ol li:nth-child(even) {
    background-color: #eee;
}
li {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
.tree_node {
    border: 1px solid #f8f8f8;
    border-radius: 4px;
}
.tree_node:hover {
    border: 1px solid #ccc;
}
#tree > .tree_node {
    border: 0;
}
#tree > .tree_node > ol {
    padding: 0;
}
.expander {
    -webkit-transition: 0.1s linear; 
    -moz-transition: 0.1s linear; 
    -o-transition: 0.1s linear; 
    transition: 0.1s linear;
}
.expanded > p .expander {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.missing_icon {
    width: 1em;
    display: inline-block;
}
.expandable {
    cursor: pointer;
}
.tree_node_head {
    padding: 0.5em;
}
</style>
<script type="text/javascript">
$(function() {
    function set_expand(node, expand) {
        var expanded = node.hasClass("expanded");
        if (expand) {
            node.children("ol").slideDown(200);
            node.addClass("expanded");
        } else {
            node.children("ol").slideUp(200);
            node.removeClass("expanded");
        }
        return expanded != expand;
    }

    $("#tree > .tree_node > .tree_node_head").hide();

    $(".tree_node ol").hide();
    $("#tree > .tree_node > ol").show();

    $(".tree_node_head").click(function(evt) {
        var node = $(evt.target).closest(".tree_node");
        if (!set_expand(node, false)) {
            set_expand(node, true);
        }
    });
});
</script>
{{/partial}}

{{# partial "node"}}
<div class="tree_node" id="{{id}}">
    <p class="tree_node_head{{#if children}} expandable{{/if}}">
        {{#if children}}
            <span class="glyphicon glyphicon-chevron-right expander"></span>
        {{else}}
            <span class="missing_icon"></span>
        {{/if}}
        {{name}}: 
        <span class="self_time">{{self_time}}</span> /
        <span class="total_time">{{total_time}}</span>
    </p>
    {{#if children}}
        <ol>
            {{#each children}}
                <li>
                    {{#block "node"}}{{/block}}
                </li>
            {{/each}}
        </ol>
    {{/if}}
</div>
{{/partial}}

{{# partial "content"}}
<div class="btn-group" role="group">
    <button id="start" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-play"></span>
        Start
    </button>
    <button id="stop" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-pause"></span>
        Pause
    </button>
    <button id="reset" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove"></span>
        Reset
    </button>
</div>

<div id="tree">
    {{#with tree}}{{#block "node"}}{{/block}}{{/with}}
</div>
{{/partial}}

{{> layout}}
