{{# partial "head"}}
<script type="text/javascript">
$(function() {
    $("#delete").click(function() {
        $.dialog_action({
            url: "delete",
            progress: {
                title: "Deleting..."
            },
            success: {
                action: function() { window.location = "../list.html"; },
                title: "Dump deleted successfully"
            },
            failure: {
                title: "Failed to delete heap dump"
            }
        });
    });
    $("#clear_cache").click(function() {
        $.dialog_action({
            url: "close",
            progress: {
                title: "Clearing cache..."
            },
            success: {
                action: function() { window.location.reload(); },
                title: "Cache cleared successfully"
            },
            failure: {
                title: "Failed to clear cache"
            }
        });
    });
    $("#load").click(function() {
        $.dialog_action({
            url: "load",
            progress: {
                title: "Loading..."
            },
            success: {
                action: function() { window.location.reload(); },
                title: "Loaded successfully"
            },
            failure: {
                title: "Failed to load index"
            }
        });
    });

    {{#if hasRootIndex}}
    {{#if hasNoTagIndex}}
    $("#progress").hide();
    function end_progress() {
        $("#progress").slideUp();
        clearInterval(progress_updater);
    }
    function update_progress() {
        $.ajax("tag_progress").done(function(data) {
            if (data.progress >= data.max) { // done
                end_progress();
                window.location.reload();
                return;
            }
            var percentage = data.progress / data.max * 100;
            var bar = $("#progress div");
            bar.css("width", percentage + "%");
            bar.text(Math.round(percentage) + "%");
            $("#progress").slideDown();
        }).error(end_progress);
    }
    var progress_updater = setInterval(update_progress, 500);
    {{/if}}
    {{/if}}
});
</script>
{{/partial}}

{{# partial "content"}}
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Size</dt>
        <dd><span title="{{size}} bytes">{{sizeScaled}}</span></dd>
        {{#if hasRootIndex}}
        <dt>Version</dt>
        <dd>{{version}}</dd>
        <dt>Time</dt>
        <dd><span title="UNIX {{time}}">{{timeFormatted}}</span></dd>
        <dt>Identifier size</dt>
        <dd>{{identifierSize}} bytes</dd>
        <dt>String table size</dt>
        <dd>{{stringCount}} (<span title="{{stringBytes}} bytes">{{stringBytesScaled}}</span>)</dd>
        {{/if}}
    </dl>

    {{#if hasRootIndex}}
    {{#if hasNoTagIndex}}
    <div id="progress" class="progress">
        <div class="progress-bar" role="progressbar" style="width: 2%;">2%</div>
    </div>
    {{/if}}
    {{/if}}

    <button class="btn btn-success{{#if hasRootIndex}} disabled{{/if}}" id="load">Load more</button>
    <button class="btn btn-warning{{#unless hasRootIndex}} disabled{{/unless}}" id="clear_cache">Clear Cache</button>
    <button class="btn btn-danger" id="delete">Delete</button>
{{/partial}}

{{> heapdump/layout}}
