{{# partial "head"}}
<script type="text/javascript">
$(function() {
    $("#delete").click(function() {
        $.dialog_action({
            url: "delete",
            progress: {
                title: "Deleting..."
            },
            success: {
                action: function() { window.location = "../list.html"; },
                title: "Dump deleted successfully"
            },
            failure: {
                title: "Failed to delete heap dump"
            }
        });
    });
    $("#clear_cache").click(function() {
        $.dialog_action({
            url: "close",
            progress: {
                title: "Clearing cache..."
            },
            success: {
                action: function() { window.location.reload(); },
                title: "Cache cleared successfully"
            },
            failure: {
                title: "Failed to clear cache"
            }
        });
    });
    $("#load").click(function() {
        $.dialog_action({
            url: "load",
            progress: {
                title: "Loading..."
            },
            success: {
                action: function() { window.location.reload(); },
                title: "Loaded successfully"
            },
            failure: {
                title: "Failed to load index"
            }
        });
    });
});
</script>
{{/partial}}

{{# partial "content"}}
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Size</dt>
        <dd><span title="{{size}} bytes">{{sizeScaled}}</span></dd>
        {{#if hasRootIndex}}
        <dt>Version</dt>
        <dd>{{version}}</dd>
        <dt>Time</dt>
        <dd><span title="UNIX {{time}}">{{timeFormatted}}</span></dd>
        <dt>Identifier Size</dt>
        <dd>{{identifierSize}} bytes</dd>
        <dt>String table size</dt>
        <dd>{{stringCount}}</dd>
        {{/if}}
    </dl>

    <button class="btn btn-success{{#if hasRootIndex}} disabled{{/if}}" id="load">Load more</button>
    <button class="btn btn-danger{{#if hasRootIndex}}{{else}} disabled{{/if}}" id="clear_cache">Clear Cache</button>
    <button class="btn btn-danger" id="delete">Delete</button>
{{/partial}}

{{> heapdump/layout}}
